section.projects
    .projects-container
        .projects__column.projects-item#projex
            .projects-item__img.projects-image
                img.projects-image__img(src=require("../images/projects/projex/projexScreen.png"), alt="Projex")
            .project-item__info.projects-info
                .projects-info__header.projects-header
                    span.projects-header__item «Projex»
                .projects-info__description.projects-description
                    p.projects-description__item Используемые технологии:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item HTML5
                        li.projects-description-list__item CCS3
                        li.projects-description-list__item JS6
                        li.projects-description-list__item WEBPACK5
                        li.projects-description-list__item NODE JS
                    p.projects-description__item Что реализовано:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item Адаптивная верстка по макету из Figma
                        li.projects-description-list__item Fixed Header
                        li.projects-description-list__item Плавный скролл к якорям
                        li.projects-description-list__item Форма с валидацией
                        li.projects-description-list__item Слайдер по кнопке
                        li.projects-description-list__item Touch slider 
                        li.projects-description-list__item Модальное окно при отправке формы

                .projects-info__button.projects-button 
                    a(href="https://daifoll.github.io/projex/" target="_blank").projects-button__watchBtn
                        img(src=require("../images/projects/projex/check-project.svg"), alt="Посмотреть проект").projects-button__img
                        span.projects-button__text Посмотреть проект                         
                            
        .projects__column.projects-item#nftmusic
            .projects-item__img.projects-image
                img.projects-image__img(src=require("../images/projects/NFTMusic/NFTMusicScreen.png"), alt="Projex")
            .project-item__info.projects-info
                .projects-info__header.projects-header
                    span.projects-header__item «NFTMusic»
                .projects-info__description.projects-description
                    p.projects-description__item Используемые технологии:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item HTML5
                        li.projects-description-list__item CCS3
                        li.projects-description-list__item JS6
                        li.projects-description-list__item WEBPACK5
                        li.projects-description-list__item NODE JS
                    p.projects-description__item Что реализовано:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item Адаптивная верстка по макету из Figma
                        li.projects-description-list__item Burger-menu
                        li.projects-description-list__item Плавный скролл к якорям
                        li.projects-description-list__item Сортировка карточек альбомов по жанрам
                        li.projects-description-list__item Выгрузка карточек альбомов из объекта
                .projects-info__button.projects-button 
                    a(href="https://daifoll.github.io/NFTMusic/" target="_blank").projects-button__watchBtn
                        img(src=require("../images/projects/projex/check-project.svg"), alt="Посмотреть проект").projects-button__img
                        span.projects-button__text Посмотреть проект
        .projects__column.projects-item#todolist
            .projects-item__img.projects-image
                img.projects-image__img(src=require("../images/projects/todolist/todoluistScreen.png"), alt="Calculator")
            .project-item__info.projects-info
                .projects-info__header.projects-header
                    span.projects-header__item «Список задач»
                .projects-info__description.projects-description
                    p.projects-description__item Используемые технологии:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item HTML5
                        li.projects-description-list__item CCS3
                        li.projects-description-list__item JS6
                    p.projects-description__item Что реализовано:
                    ul.projects-description__list.projects-description-list
                        li.projects-description-list__item Добавление новой задачи
                        li.projects-description-list__item Редактирование существующей задачи
                        li.projects-description-list__item Отметка о выполнении задачи
                        li.projects-description-list__item Удаление задачи
                        li.projects-description-list__item Очистка всего списка задача
                        li.projects-description-list__item Сортировка задач на "Выполненые" и "Невыполненные"
                        li.projects-description-list__item Использование localstorage для сохранения списка задач после перезагрузки страницы
                .projects-info__button.projects-button 
                    a(href="https://daifoll.github.io/ToDoList/" target="_blank").projects-button__watchBtn
                        img(src=require("../images/projects/projex/check-project.svg"), alt="Посмотреть проект").projects-button__img
                        span.projects-button__text Посмотреть проект